body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  background-color: #f9e0db;
  width: 80%;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100%;
}

.left, .right, .center, header, .board {
  visibility: visible;
}

header {
  width: 96%;
}

input {
  width: 50%;
}

.log-p1, .log-p2 {
  width: 40%;
}

.left, .right, .center {
  display: inline-block;
}

.board {
  height: 64%;
}

.left {
  width: 16%;
  margin: 0 auto;
}

.right {
  width: 16%;
}

.center {
  width: 64%;
  position: relative;
  overflow: hidden;
}

.td {
  width: auto;
  position: relative;
  padding-bottom: 2*;
}



audio {
  visibility: hidden;
}

form, button, p, input, button {
  display: inline-block;
  font-family: 'bungee';
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

.y, .n {
  font-size: 32px;
  color: #3995a3;
  display: inline-block;
}

h3 {
  font-size: 32px;
  color: #3995a3;
  display: block;
}

h3 .sigh {
  display: block;
}



p {
  font-size: 12px;
  margin: 0;
}

button, input {
  font-size: 11px;
}

table {
  margin: 0 auto;
  text-align: center;
  table-layout: fixed;
}

.p1winner, .p2winner {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display:none;
}

td {
  width: auto;
  height:auto;
  border:1px solid transparent;
  border-collapse: collapse;
  background-color:#ccf9f4;
  text-align: center;
  vertical-align: middle;
}


.fry {
  width: 100px;
  height: 100px;
  background-image: url("images/fry.png");
  background-repeat:no-repeat;
  background-size:100px;
}

.p1 {
  background-image: url("images/kanyesad.png");
  background-size: 60%;
  background-position: center;
}


.p2 {
  background-image: url("images/drakesad.jpg");
  background-size: 80%;
  background-position: center;
}

.newGame {
  display: none;
}
